body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.hide-layout {
  background: #000; /* фон */
  bottom: 0;  /* координата снизу */
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* прозрачность для IE */
  height: 100%; /* высота на всю страницу */
  opacity: 0.5;  /* прозрачность слоя */
  position: fixed; /* фиксируем элемент на странице*/
  top: 0; /* координата сверху */
  width: 100%; /* ширина на всю страницу */
  z-index: 998; /* z-index для перекрытия остальных элементов */
}

label {
  margin-right: 15px;
  line-height: 32px;
}

input {

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;

  position: relative;
  top: 4px;
}